h1.titre1-homepage{
  text-align: center;
  margin-bottom: 30px;
}

p.paragraphe1-homepage{
  margin-left: 100px;
  margin-right: 100px;
}

.titre-navbar{
  font-weight: bold;
  font-size: 25px!important;
}

.modif-navbar{
  padding-left: 130px!important;
  padding-right: 130px!important;
}

.svg-modif{
  margin-top: -150px;
}
